<h3>profile</h3>

<div>
  <p>Username: <%= @profile.username %></p>
  <p>First Name: <%= @profile.first_name %></p>
  <p>Last Name: <%= @profile.first_name %></p>
  <p>Hometown: <%= @profile.hometown %></p>
  <p>TODO: timezone</p>
  <p>TODO: place_id</p>
  <p>Bio: <%= @profile.bio %></p>
  <p>Private: <%= @profile.private %></p>
  <p>Web: <%= @profile.web %></p>
  <p>TODO: show linked provider</p>
  <p>Locale: <%= @profile.locale %></p>
</div>