<h1>Create a New Account with Us</h1>


<%= form_for @user do |f| %>

  <%= render 'shared/error_messages', :target => @user %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  
  <%= f.fields_for :profile do |p| %>
    <div class="field">
      <%= p.label :username %><br/>
      <%= p.text_field :username %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions"><%= f.submit %></div>
          
<% end %>

<%= render "authentications/external_providers", :action => "Sign up" %>