%header
  .logo wandereyes
  %nav
    %ul
      = nav_link_to t('home'),  root_path
      = nav_link_to t('wanderlist'), "#"
      = nav_link_to t('explore'), "#"
      = nav_link_to t('blog'), "#"
      = nav_link_to t('Upload'), new_post_path
      - if signin?
        %li.dropdown
          %a.dropdown-toggle{:href => '#'}= current_user.username
          %ul.dropdown-menu
            %li= link_to t('Profile'), current_user.profile
            %li= link_to t('Settings'), edit_profile_path(current_user.profile)
            %li= link_to t('signout'), signout_path
      - else
        %li= link_to t('signin'), signin_path
        = render 'authentications/external_providers'
        %li= link_to t('signup'), register_path